<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Data Visualization</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/css/style.css">
</head>
<body>

	<h1>404</h1>
	<h2>This page could not be found</h2>
		
</body>
</html>